cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
db-dtypes==1.4.3
google-api-core==2.26.0
google-auth==2.41.1
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.4
grpcio==1.75.1
grpcio-status==1.75.1
idna==3.11
numpy==2.2.6
oauthlib==3.3.1
packaging==25.0
pandas==2.3.3
pandas-gbq==0.29.2
proto-plus==1.26.1
protobuf==6.32.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydata-google-auth==1.9.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.44
tornado==6.5.2
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.14
pywin32==311; sys_platform == "win32"